<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="m-n-json.ZPM">
    <Module>
      <Name>m-n-json</Name>
	  <Description>Export M:N relationship with JSON</Description> 
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.data.rcc.JSON.CLS"/>
    </Module>
  </Document>
</Export>
